@import "tailwindcss";
@import "@nuxt/ui";

/* @source "../content"; */

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary-50: var(--ui-color-primary-50);
  --color-primary-100: var(--ui-color-primary-100);
  --color-primary-200: var(--ui-color-primary-200);
  --color-primary-300: var(--ui-color-primary-300);
  --color-primary-400: var(--ui-color-primary-400);
  --color-primary-500: var(--ui-color-primary-500);
  --color-primary-600: var(--ui-color-primary-600);
  --color-primary-700: var(--ui-color-primary-700);
  --color-primary-800: var(--ui-color-primary-800);
  --color-primary-900: var(--ui-color-primary-900);
  --color-primary-950: var(--ui-color-primary-950);
}

:root {
  /* --ui-primary: var(--color-primary); */
  --ui-bg: var(--color-white);
}

.dark {
  --ui-bg: rgba(32, 33, 36, 1);
}

:root[data-accent="green"] {
  --ui-primary: #4ade80;
}

:root[data-accent="teal"] {
  --ui-primary: #2dd4bf;
}

:root[data-accent="indigo"] {
  --ui-primary: #818cf8;
}

:root[data-accent="purple"] {
  --ui-primary: #c084fc;
}

:root[data-accent="orange"] {
  --ui-primary: #fb923c;
}

:root[data-accent="pink"] {
  --ui-primary: #f472b6;
}

:root[data-accent="red"] {
  --ui-primary: #f87171;
}

:root[data-accent="yellow"] {
  --ui-primary: #facc15;
}
